h1 {
	font-family: pt mono;
	font-size: 60px;
	color: black;
	border: 2px solid white;
	border-radius: 60px;
	padding: 15px;
	text-align: center;
	margin: 20px 100px;
}

p {
	font-family: pt mono;
	font-size: 15px;
	padding: 15px;
	margin-top: 20px;
}

form {
	text-align: center;
	padding: 15px;
}
a {
	text-decoration: none;
}

.container {
	max-width: 1000px;
	text-align: center;
}
.weather-app {
	background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
	max-width: 700px;
	border-radius: 15px;
	margin: 10px auto;
	text-align: center;
	padding: 15px;
}

#source {
	font-size: 14px;
	text-decoration: none;
}
.units {
	position: relative;
	top: -30px;
	font-size: 15px;
	text-decoration: none;
}
.active {
	color: black;
	cursor: default;
}
.active:hover {
	text-decoration: none;
}
.col-2 {
	border: 2px solid white;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
.col-2:hover {
	cursor: pointer;
	background: #60a1ff;
}
.forecast-date {
	font-size: 16px;
}
.forecast-temp {
	font-size: 13px;
}
.forecast-temp-min {
	opacity: 0.5;
}
