h1 {
	font-family: pt mono;
	font-size: 60px;
	color: black;
	border: 2px solid white;
	border-radius: 60px;
	padding: 15px;
	text-align: center;
	margin: 20px 100px;
}

p {
	font-family: pt mono;
	font-size: 15px;
	padding: 20px;
	margin-top: 40px;
}

form {
	text-align: center;
	padding: 15px;
}
.weather-app {
	background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
	max-width: 700px;
	border-radius: 15px;
	margin: 10px auto;
	text-align: center;
	padding: 15px;
}

.col {
	border: 2px solid white;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
.col:hover {
	cursor: pointer;
	background: #60a1ff;
}
.strong {
	text-align: center;
	font-size: 25px;
}
.mon {
	font-size: 40px;
}
.tue {
	font-size: 40px;
}
.wed {
	font-size: 40px;
}
.thur {
	font-size: 45px;
}
.fri {
	font-size: 40px;
}
